[submodule "Modules/Libraries/makeEspArduino"]
	path = Modules/Libraries/makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git

[submodule "Modules/Libraries/makeEspArduino"]
	path = Modules/Libraries/NeoICSerial
	url = https://github.com/SlashDevin/NeoICSerial.git
