[submodule "Modules\\Libraries\\LedControl"]
	path = Modules\\Libraries\\LedControl
	url = https://github.com/wayoda/LedControl
[submodule ".\\Modules\\Libraries\\NeoICSerial"]
	path = .\\Modules\\Libraries\\NeoICSerial
	url = https://github.com/Sebski123/NeoICSerial
